<mat-card>

  <form class="form__auth" [formGroup]="authForm" (submit)="doSubmit()">

    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" required>
      <mat-error *ngIf="authForm.get('username').hasError('required')">You must enter a value</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="authForm.get('password').hasError('required')">You must enter a value</mat-error>
    </mat-form-field>

    <div class="action-row">
      <button type="submit" mat-raised-button color="primary" [disabled]="authForm.invalid">Login</button>
    </div>

  </form>

  <div class="links">
    <span class="link">Sign In</span>
    |
    <span class="link">Sign Up</span>
  </div>

  <div class="social">
    <span>Sign Up/ Sign In with</span>
    <mat-icon fontSet="fa" fontIcon="fa-facebook-square" class="fa-3x"></mat-icon>
    <mat-icon fontSet="fa" fontIcon="fa-twitter-square" class="fa-3x"></mat-icon>
    <mat-icon fontSet="fa" fontIcon="fa-google-plus-square" class="fa-3x"></mat-icon>
  </div>

  <div class="recovery-link">
    Password recovery
  </div>


</mat-card>
